extends layout

block content
  h1= title
  p Welcome to #{title}
  if user
    p Hello #{user}
  div
    a(href='/users') users
  div
    <a href='/users'>users</a>
  div
    a(href='/profile') profile
  div
    a(href='/login') login
