doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .layout
        nav
            include sidemenu

        main
            block content
