<div class="sidemenu">
    <h2>DGC</h2>
    <a href='/'>home</a>

    if user
        <a href='/profile'>profile</a>
        <a href='/logout'>logout</a>
    else
        <a href='/login'>log in</a>
        <a href='/signup'>sign up</a>
</div>