extends layout

block content
    <form action="/signup" method="post" style="border:2px solid #ccc">
        <div class="container">
            <h1>Sign Up</h1>
            <p>Please enter the following information to create an account.</p>
            <hr>
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>
            <br>
            <br>
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <br>
            <br>
            <label for="passrepeat"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" name="passrepeat" required>
            <br>
            <button type="submit" class="signupbutton">Sign Up</button>
            </div>
        </div>
        if error
            span= error.username
            span= error.password
            span= error.passrepeat
    </form>