body {
  font: 14px Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

a {
  color: #00B7FF;
}

input {
  border: 1px #ddd solid;
  border-radius: 3px;
  height: 15px;
  width: 100%;
}

main {
  min-height: 600px;
}

.error {
  color: #ee4455;
}